// External imports
@import 'o-drawer/main';
@import 'o-fonts/main';
@import 'o-icons/main';
@import 'o-collapse/main';

// Internal imports
@import 'src/scss/variables';
@import 'src/scss/mixins';

@include oIconsInclude(oc-icons);

.o-contextual-help__drawer {
	background: #ffffff;
	color: #333333;
	font-size: 16px;
	font-family: oFontsGetFontFamilyWithFallbacks(HelveticaNeue);
	z-index: $o-contextual-help-z-index;
	a {
		color: #0e67a9;
		text-decoration: none;
	}

	@media only screen and (max-width: 415px) {
		width: 100%;
		right: -100%;
		&.o-drawer.o-drawer-right {
			width: 100%;
			right: -100%;
			&.o-drawer-open {
				right: 0%;
			}
		}
	}
}

.o-contextual-help__detail--visible {
	.o-contextual-help__topics {
		left: -100%;
	}
	.o-contextual-help__topic-content {
		left: 0px;
		.o-contextual-help__header {
			display: block;
		}
	}
}

.o-contextual-help__header {
	padding: 19px;
	border-bottom: $o-contextual-help-separator-border;
}

.o-contextual-help__topics,
.o-contextual-help__topic-content {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 48px;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	transition: all 0.4s ease;
	user-select: none;
	[data-toggle="o-collapse"] {
		position: relative;
		margin-left: 1em;
		padding-left: 0.4em;
		cursor: pointer;
		$icon-width-height: 1em;
		&:before,
		&:after {
			background: #000000;
			content: "";
			position: absolute;
		}
		&:before {
			height: 0.2em;
			width: 1em;
			left: -1em;
			top: 0.4em;
		}
		&:after {
			height: 1em;
			width: 0.2em;
			left: -0.6em;
			top: 0em;
		}
		&[aria-expanded="true"]:after {
			display: none;
		}
	}
}

.o-contextual-help__topic {
	padding: 10px 19px;
	border-bottom: $o-contextual-help-separator-border;
	display: block;
	h4 {
		font-size: 18px;
		line-height: 1.45em;
		font-weight: normal;
		margin-bottom: 6px;
		margin-top: 6px;
	}
	p {
		font-size: 0.9em;
		line-height: 1.6em;
	}
}

.o-contextual-help__topic-content {
	left: 100%;
	ul {
		padding-left: 40px;
	}
	.o-contextual-help__header {
		display: none;
	}
}

.o-contextual-help__excerpt p {
	height: 3em;
	overflow: hidden;
	&:after {
		content: '\02026';
	}
}
