// External imports

// @import 'o-grid/main';

// Internal imports
@import 'src/scss/variables';
@import 'src/scss/mixins';

$o-icons-is-silent: false;
$o-fonts-is-silent: false;

@import 'o-drawer/main';
@import 'o-icons/main';
@import 'o-fonts/main';

$drawer-borders: solid 1px #e8e8e8;

.o-contextual-help-drawer {
	background: #fff;
	color: #333;
	font-size: 16px;
	font-family: oFontsGetFontFamilyWithFallbacks(HelveticaNeue);
	a {
		color: #0381c9;
		text-decoration: none;
	}
	.o-contextual-help-topics,
	.o-contextual-help-topic-content{
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		padding-top: 48px;
		overflow-x: hidden;
		overflow-y: auto;
		box-sizing: border-box;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.o-contextual-help-topic-content{
		left: 100%;
		ul{
			padding-left: 40px;
		}
		.help-header{
			display: none;
		}
	}
	&.show-content{
		.o-contextual-help-topics{
			left: -100%;
		}
		.o-contextual-help-topic-content{
			left: 0px;
			.help-header{
				display: block;
			}
		}
	}
	.help-header {
		padding: 19px;
		border-bottom: $drawer-borders;
		a i.close-x{
			color: #333;
		}
	}
	.help-topic {
		padding: 10px 19px;
		border-bottom: $drawer-borders;
		display: block;
		&.excerpt p{
			height: 3em;
			overflow: hidden;
			&:after{
				content: '\02026';
			}
		}
		h4 {
			font-size: 18px;
			line-height: 1.45em;
			font-weight: normal;
			margin-bottom: 6px;
			margin-top: 6px;
		}
		p {
			font-size: 0.9em;
			line-height: 1.6em;
		}
	}
}

@media only screen and (max-width: 415px) {
	.o-contextual-help-drawer {
		width: 100%;
		right: -100%;
		z-index: 1;
	}
}

@if not $o-contextual-help-is-silent {
	@include oContextualHelpHello(world of Origami);
}
