<p> Check the page source for a demonstration of using the config for adding help items </p>

<script type="application/json" data-o-contextual-help-config>
  {
    "helpTopics": [
      "console/student/freetrial",
      "console/student/studentresources",
      "console/student/contactsupport"
    ]
  }
</script>

<header class="o-app-header"></header>

<a href="#o-contextual-help-drawer" data-toggle="o-drawer">Toggle Help Drawer (direct)</a>
<br/>
<a href="#" onclick="issueHelpClickFromHeader()">Trigger Help via Header Menu Item Click (simulated here)</a>
<br/>
<a  href="#o-contextual-help-drawer" data-open="o-drawer">Open via Drawer</a>


<br/><br/>

<a href="#" onclick="getAndConsoleLogHelp()">console.log() the Help object</a>
<br/>
<a href="#" onclick="openSpecificArticle('console/student/droppedcourse')">Open Specific Article (Dropped Course)</a>

<br/><br/>

<a href="#" onclick="openThenAddATopicsAfterTime('console/instructor/courseregsettings', 1000)">Open, then add item after 1s (adds 'console/instructor/courseregsettings')</a>
<br/>
<a href="#" onclick="openThenAddATopicsAfterTime(['console/instructor/educatorresources', 'console/instructor/validatedinstructor'], 500)">Open, add multiple items after 500ms (adds 'console/instructor/educatorresources', 'console/instructor/validatedinstructor')</a>
<br/>
<a href="#" onclick="openThenRemoveTopics(['console/instructor/educatorresources', 'console/instructor/validatedinstructor'], 500)">Open, remove multiple items after 500ms (removes 'console/instructor/educatorresources', 'console/instructor/validatedinstructor')</a>
<br/>
<a href="#" onclick="openThenRemoveAll()">Open, then remove all topics.</a>

<br/><br/>

<a href="#" onclick="openAndRandomSort()">Open, then sort topics randomly for 5 seconds</a>

<br/><br/>

<a href="#" onclick="testAccordion()">Test Accordion Content</a>

<br/><br/>

<a href="#" onclick="signinTest()">Test Signin Content Swap</a>

<br/><br/>
<h4>Test Your Content</h4>
<div id="secret-dom" style="display: none;"></div>
<textarea id="custom-content" cols="120" rows="15" placeholder="Paste Your Content Here"></textarea>
<br/>
<button onclick="testCustomContent()">Test This Content</button>
